.contacto-padre{
    display: flex;
    background-color: #f7f7f7;
    .contacto-contenedor{
        @media all and (max-width: 762px){
            .contacto-articulo{
                    flex-direction: column;
            }
        }
            flex: 1 1;
            display: flex;
            flex-flow: row wrap;
        .contacto-articulo{
            background: #f7f7f7;
            flex: 1 40%;
            color: #444;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px 0 0px;
            flex: 1 45%;
            background: #ececec;
        }
}
} 
.contacto-mapa-padre{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    .mapa-contenedor{
        display: flex;
        justify-content: center;
        background: #f7f7f7;
        color: #444;
        letter-spacing: 1px;
        margin: 10px 10px 0 0px;
        background: #ececec;
    }
}